// Scaffold user/ from templates/ (see README), then edit user/ freely.

include "user/autostart.kdl"
include "user/binds.kdl"
include "user/inputs.kdl"
include "user/hardware.kdl"
include "user/misc.kdl"
include "user/noctalia.kdl"
include "user/theme.kdl"
include "user/windowrules.kdl"
