debug {
    // Render compositor on iGPU (renderD128) in multi-GPU setups. 
    // You can use cardwire to disable dGPU and list available devices. 
    // 
    // cardwire set integrated 
    // ls -l /dev/dri/by-path/pci-*-render
    // 
    // The correct path is the one that is not crossed out (the one not
    // highlighted in red).
    //
    // Uncomment and set to your render node. Single-GPU machines can leave
    // this commented out. 
    //
    // ▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿
    // render-drm-device "/dev/dri/renderD128"

    // If you are experiencing flickering / artifacts in a dGPU + iGPU 
    // setup, you can: 
    //     1. (Recommended for laptops) Render on iGPU and use the flag below
    //        to tell Niri to wait for frames to finish rendering before
    //        displaying them. 
    //         + Allows you to keep power usage low by using iGPU
    //         - Introduces a latency (that you may or may not notice)
    //     2. Render on dGPU only and ignore the flag below
    //
    // ▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿
    // wait-for-frame-completion-before-queueing

}