prefer-no-csd // disables client-side decors

cursor {
    xcursor-theme "Bibata-Original-Ice"
    xcursor-size 24
}

// Geometry of Niri is defined here, colours are generated automagically by
// noctalia.kdl
layout {
    gaps 8
    background-color "transparent"

    border {
        width 3    // inactive border, default colour is transparent
    }

    focus-ring {
        width 3    // active window border thickness
    }
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true                // true -> trims content to enforce rounding
    tiled-state true                     // true -> lets niri have prio drawing corners
    draw-border-with-background false    // false -> is border-only , no shape fill

    background-effect {
        blur true    // blur for transparent windows
        xray true    // true -> static blur, more efficient
    }
}

recent-windows {
    highlight {
        corner-radius 8    // Alt+Tab highlight box rounding
    }
}

blur {
    passes 3          // 3, higher = less artifacts at cost of GPU = hazier
    offset 8          // 2 = subtle, 4 = medium, 8 = dreamy; higher needs more passes
    noise 0.04        // 0 = smooth, 0.2 gritty
    saturation 1.0    // 1 = true colours, 1.2 slightly punchy, 1.6 vibrant
}

animations {
    slowdown 1.0    // global speed; <1 = faster than default

    window-movement          { spring damping-ratio=0.85 stiffness=700 epsilon=0.0001; }
    window-resize            { spring damping-ratio=0.85 stiffness=700 epsilon=0.0001; }
    window-open              { spring damping-ratio=0.85 stiffness=700 epsilon=0.0001; }
    window-close             { spring damping-ratio=0.85 stiffness=700 epsilon=0.0001; }
    horizontal-view-movement { spring damping-ratio=0.85 stiffness=700 epsilon=0.0001; }
    workspace-switch         { spring damping-ratio=0.85 stiffness=700 epsilon=0.0001; }

    overview-open-close             { spring damping-ratio=0.8 stiffness=650 epsilon=0.0001; }
    screenshot-ui-open              { spring damping-ratio=0.8 stiffness=650 epsilon=0.0001; }
    config-notification-open-close  { spring damping-ratio=0.8 stiffness=650 epsilon=0.0001; }
}
